.buttons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    gap: 10px;
    padding: 10px 0 10px 0;
}

.header-inputs-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-group {
    display: flex;
    gap: 15px;
}

.active-form{
    padding-bottom: 30px;
}

.header-contact button{
    margin-top: 15px;
}

.header-info{
    display: flex;
    flex-direction: column;
    align-items: end;
}