.curriculum {
  width: 210mm;
  height: 294mm;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  box-sizing: border-box;
  padding: 20mm;
}

.curriculum-experience p {
    white-space: pre-wrap; 
    
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    width: 100%;
}

.curriculum section:last-child,
.curriculum div:last-child,
.curriculum p:last-child {
    margin-bottom: 0 !important;
}

.curriculum * {
  break-inside: avoid;
}

.curriculum-header {
  display: flex;
  justify-content: space-between;
}

.curriculum-header-info {
  flex: 0 0 70%;
  width: 70%;
}

.curriculum-header-info h1 {
  font-size: 2.4rem;
}

.curriculum-profile p {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
  text-align: justify;
}

.curriculum-contact {
  flex: 0 0 30%;
  width: 30%;
}

.curriculum-header-info,
.curriculum-contact,
.curriculum-profile,
.curriculum-experience,
.curriculum-education,
.curriculum-skills {
  text-align: left;
}

.curriculum-profile,
.curriculum-experience,
.curriculum-education {
  margin-top: 25px;
}

.curriculum-experience h2 {
  margin-bottom: 8px;
}

.curriculum-skills {
  margin-top: 25px;
}


/* Media Query para celulares */
@media (max-width: 768px) {
  .curriculum {
    width: 95%;
    height: auto;
    padding: 10mm;
    min-height: unset;
  }

  .curriculum-header {
    flex-direction: column;
    gap: 15px;
  }

  .curriculum-header-info,
  .curriculum-contact {
    width: 100%;
    flex: 0 0 100%;
  }

  .curriculum-header-info h1 {
    font-size: 1.8rem;
  }

  .header-inputs,
  .experience-inputs-container,
  .experience-info,
  .date-group,
  .header-inputs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .experience-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .experience-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .experience-info input,
  .experience-info textarea {
    width: 90%;
    max-width: 400px;
  }

  .experience-info label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}